body {
    font-family: Arial, sans-serif;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msg{
    width:700px;
    text-align:center;
    padding: 10px;
    border: 1px solid black;
    margin-left:350px;
    background-color: #ccc;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #45a049;
}
#new2{
    text-align: center;
}
.container {
    padding: 20px;
    background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=checkbox] {
    margin-top: 16px;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
.detail{
    text-align: center;
}